.credentials{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.field{
    margin: 4px;
    height: 30px;
    width: 300px;
    border: 1px solid rgb(86, 86, 86);
    border-radius: 2px;
}

.submit{
    height: 30px;
    background-color: rgb(97, 125, 163);
    border:none;
    border-radius: 3px;
    color: white;
}

.submit:hover{
    background-color: rgb(77, 98, 129);
}

.submit:active{
    background-color: rgb(97, 125, 163);
}