.dialog{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 25%;
    background-color: white;
    border-radius: 12px;
}
.actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 10px;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}