.navlink{
    font-weight: lighter;
    text-align: center;
    color:white;
    padding:6px;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    user-select: none;
}
.navlink:hover{
    background-color: rgba(255, 255, 255, 0.223);
    cursor: pointer;
}

.navlink:active{
    background-color: rgba(200, 200, 200, 0.223);
}