.gymTile{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    height: 100px;
    background-color: rgb(54, 54, 72);;
    color: white;
    border-radius: 6px;
    padding:12px;
}

.dropdown-end{
    translate: x(-100);
}