@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    height: 100%;
    overflow: hidden;
}
body{
    height: 100%;
    overflow: hidden;
    font-weight: 400;
    margin: 0;
}
.material-symbols-outlined {
    font-style: italic;
    vertical-align: text-bottom;
}
input{
    padding: 2px;
}
textarea{
    resize: none;
}

.p{
    white-space: pre-wrap;
}